<div class="card">
  <div class="card-header">
    <div class="col-sm-6">
      <a href="#ajoutPatientModal" class="btn btn-success" data-toggle="modal"><span>Ajouter patient</span></a>				
    </div>  
  </div>
  <div class="card-body">
    <div>
      <div class="container">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-6">
          </div>
    
                </div>
            </div>
          <table class="table table-striped table-hover">
              <thead>
                  <tr>
                      <th>ID</th>
                      <th>Nom</th>
                      <th>Prenom</th>
                      <th>Email</th>
                      <th>Adresse</th>
                      <th>Telephone</th>
                      <th>Actions</th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let pat of patients | async ">
                      <td>{{pat.id}}</td>
                      <td>{{pat.nom}}</td>
                      <td>{{pat.prenom}}</td>
                      <td>{{pat.email}}</td>
                      <td>{{pat.adresse}}</td>
                      <td>{{pat.numTelephone}}</td>
                      <td class="project-actions text-right">
                        <a class="btn btn-info btn-sm" href="#modalModifierPatient" (click)="init(pat)"  data-toggle="modal">
                            <i class="fas fa-pencil-alt">
                            </i>
                            Modifier
                        </a>
                        <a class="btn btn-danger btn-sm" href="#" (click)="supprimerPatient(pat.id)" data-toggle="modal" >
                          <i class="fas fa-trash">
                          </i>
                          Supprimer
                      </a>
                      
                        </td>
                  </tr>
              </tbody>
          </table>
  <div id="ajoutPatientModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <form>
        <div class="modal-header">						
          <h4 class="modal-title">Ajouter patient</h4>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body">					
          <div class="form-group">
            <label>Nom</label>
            <input type="text" class="form-control" required [(ngModel)]="patient.nom" name="nom">
          </div>
          <div class="form-group">
            <label>Prenom</label>
            <input type="text" class="form-control" required [(ngModel)]="patient.prenom" name="prenom">
          </div>
          <div class="form-group">
            <label>Email</label>
            <input type="text" class="form-control" required [(ngModel)]="patient.email" name="email">
          </div>
          <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" required [(ngModel)]="patient.password" name="password">
          </div>
          <div class="form-group">
            <label>Adresse</label>
            <input type="text" class="form-control" required [(ngModel)]="patient.adresse" name="adresse">
          </div>
          <div class="form-group">
            <label>numTelephone</label>
            <input type="text" class="form-control" required [(ngModel)]="patient.numTelephone" name="numTelephone">
          </div>
        </div>
        <div class="modal-footer">
          <input type="button" class="btn btn-default" data-dismiss="modal" value="Annuler">
          <input type="submit" class="btn btn-success" value="Ajouter" (click)="ajouterPatient()">
        </div>
      </form>
    </div>
  </div>
  </div>
  
  
  
      <!-- Edit Modal HTML -->
      <div id="modalModifierPatient" class="modal fade">
          <div class="modal-dialog">
              <div class="modal-content">
                <form>
                    <div class="modal-header">						
                      <h4 class="modal-title">Modifier patient</h4>
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">					
                      <div class="form-group">
                        <label>Nom</label>
                        <input type="text" class="form-control" required [(ngModel)]="patient.nom" name="nom">
                      </div>
                      <div class="form-group">
                        <label>Prenom</label>
                        <input type="text" class="form-control" required [(ngModel)]="patient.prenom" name="prenom">
                      </div>
                      <div class="form-group">
                        <label>Adresse</label>
                        <input type="text" class="form-control" required [(ngModel)]="patient.adresse" name="adresse">
                      </div>
                      <div class="form-group">
                        <label>Email</label>
                        <input type="text" class="form-control" required [(ngModel)]="patient.email" name="email">
                      </div>
                      <div class="form-group">
                        <label>Password</label>
                        <input type="password" class="form-control" required [(ngModel)]="patient.password" name="password">
                      </div>
                      <div class="form-group">
                        <label>numTelephone</label>
                        <input type="text" class="form-control" required [(ngModel)]="patient.numTelephone" name="numTelephone">
                      </div>
                    </div>
                    <div class="modal-footer">
                      <input type="button" class="btn btn-default" data-dismiss="modal" value="Annuler">
                      <input type="submit" class="btn btn-success" value="Modifier" (click)="modifierPatient()">
                    </div>
                  </form>
              </div>
          </div>
      </div>
  
  </div>
</div>
<!-- /.card -->
</div>
<!-- /.col -->
</div>